.container {
    border: 1px solid purple;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    padding: 10px;
    color: purple;
    width: 500px;
    margin: 0 auto;    
}

section {
    height: 300px;
    overflow: scroll;
}

input[type="button"] {
    position: fixed;
    top: 360px;
    width: 480px;
    text-align: center;
}
