div {
    text-align: center;
}

.A1 {
   background-color: #34cfeb;
}

.C1 {
    background-color:#f0adad;
}

.C2 {
    background-color: #f55f5f;
}

.D1 {
    background-color: #d7b4f0;
}

.D2 {
    background-color: #bc7de8;
}

.D3 {
    background-color: #a23fe8;
}

.D4 {
    background-color: #940ff2;
}

